<% if (theme.carousel.img) { %>
<div class="carousel">
    <a href="<%= theme.carousel.url %>" target="_blank">
        <img src="<%- url_for(theme.carousel.img) %>" alt="">
    </a>
</div>
<% } %>

<% if (theme.swipeBanner && theme.swipeBanner.length) { %>
    <div class="swipe-box" id="swipeBanner">
        <%  theme.swipeBanner.forEach(function (item) { %>
        <a href="<%- item.url%>" target="_blank">
            <img src="<%- url_for(item.img) %>" alt="" width="100%">
        </a>
        <%   }) %>
    <% if (theme.swipeBanner.length > 1) { %>
        <div id="swipePagination">
            <%  theme.swipeBanner.forEach(function (item) { %>
            <div></div>
            <%   }) %>
        </div>
        <div id="swipeBtnPre" class="swipe-btn-pre"></div>
        <div id="swipeBtnNext" class="swipe-btn-next"></div>
    <% } %>
    </div>
    <% if (theme.swipeBanner.length == 1) { %>
    <script type="text/javascript">
        var swipeBanner = document.getElementById("swipeBanner");
        var swipeItems = swipeBanner.getElementsByTagName("a");
        swipeBanner.style.height = swipeBanner.getBoundingClientRect().width / 4 + 'px';
        window.onresize = function() {
            swipeBanner.style.height = swipeBanner.getBoundingClientRect().width / 4 + 'px';
        }
        swipeItems[0].className = "active";
    </script>
    <% } %>
    <% if (theme.swipeBanner.length > 1) { %>
    <script type="text/javascript">
        function initSwipe() {
            var swipeBanner = document.getElementById("swipeBanner");
            var swipeItems = swipeBanner.getElementsByTagName("a");
            swipeBanner.style.height = swipeBanner.getBoundingClientRect().width / 4 + 'px';
            window.onresize = function() {
                swipeBanner.style.height = swipeBanner.getBoundingClientRect().width / 4 + 'px';
            }

            var swipePagination = document.getElementById("swipePagination");
            var paginationItem = swipePagination.getElementsByTagName("div")
            var swipeBtnPre = document.getElementById("swipeBtnPre");
            var swipeBtnNext = document.getElementById("swipeBtnNext");

            swipeBtnPre.addEventListener("click", clickSwipeBtnPre)
            swipeBtnNext.addEventListener("click", swipeItemChange)

            var current = 0;
            swipeItems[0].className = "active";
            paginationItem[0].className = "active";

            function hideSwipeItem(){
                swipeItems[current].className = "";
                paginationItem[current].className = "";
            }
            function showSwipeItem() {
                swipeItems[current].className = "active";
                paginationItem[current].className = "active";
            }
            function swipeItemChange() {
                hideSwipeItem();
                current++;
                if (current >= swipeItems.length ) current = 0;
                showSwipeItem()
            }
            function clickSwipeBtnPre() {
                hideSwipeItem();
                current--;
                if (current < 0 ) current = swipeItems.length - 1;
                showSwipeItem()
            }
            var interval = setInterval(swipeItemChange, 5000);
            swipeBanner.onmouseover = function(){
                clearInterval(interval);
            }
            swipeBanner.onmouseout = function(){
                interval = setInterval(swipeItemChange, 5000);
            }
        }
        initSwipe();
    </script>
    <% } %>
<% } %>

<% if(page.posts && page.posts.length){ %>
<% page.posts.forEach(function (post, i) { %>
<%
    var urls = lazyImage(post);
    var random = Math.floor(Math.random() * (urls.length));
    if(theme.defaultImgs && theme.defaultImgs.length >0){
        var urls2 = theme.defaultImgs;
        var random2 = Math.floor(Math.random() * (urls2.length));
    }
    var _photoUrl = post.img || (urls.length > 0 && urls[random]) || (urls2.length > 0 && urls2[random2]) || '';
%>
<article class="post">
    <% if(_photoUrl && theme.showImgs) {%>
        <div class="post-media">
            <a href="<%- url_for(post.path) %>">
                <img class="img-ajax" src="<%- url_for('/img/loading.gif') %>"  data-src="<%- url_for(_photoUrl) %>"   alt="<%- post.title %>">
            </a>
        </div>
    <% } %>
    <div class="post-content">
        <div class="post-head home-post-head">
            <h1 class="post-title">
                <a href="<%- url_for(post.path) %>">
                    <%- post.title %></a>
            </h1>
            <div class="post-meta"> &bull;
                <time class="post-date" datetime="" title="">
                    <%- date(post.date,"YYYY年MM月DD日") %>
                </time>
            </div>
        </div>
        <p class="brief">
            <% if(post.excerpt) { %>
            <%= strip_html(post.excerpt) + '…' %>
            <% } else { %>
            <%= truncate(strip_html(post.content), {length: theme.excerptLength || 120, separator: ''}) %>
            <% } %>
        </p>
    </div>
    <% if(theme.homePanel) { %>
    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <%- partial('_partial/article-meta', {post: post}) %>
        </div>
        <div class="post-permalink">
            <a href="<%- url_for(post.path) %>" class="btn btn-default">
                <%= __('read_more') %></a>
        </div>
    </footer>
    <% } %>
</article>
<% }) %>
<%}%>
<%- partial('_partial/pagination') %>

<!-- 横幅广告1 -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1437849089810081"
     data-ad-slot="2958022403"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->